<!--      NAVBAR  -->
<nav class="navbar is-dark is-inverted box">
    <div class="navbar-brand">
        <a id="start" class="navbar-item" href="/"> <b>
            <div class="has-text-info" style="display: inline">WeatherTop</div>
            <div style="display: inline">| WeatherTop Stations</div>
        </b>
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-end">
            <a id="about" class="navbar-item disabled-link" href="/about">About </a>
            <a id="dashboard" class="navbar-item" href="/dashboard">Dashboard</a>


            <!--      Member area of NAVBAR and logout-->
            <div class="navbar-item has-dropdown is-hoverable">
                <a id="member" class="navbar-link" href="/member">
            <span class="icon has-text-white">
              <i class="fa-solid fa-user fa-2x"></i>
            </span>
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/member">Edit Details</a>
                    <a id="logout" class="navbar-item" href="/logout">Logout</a>
                </div>
            </div>

        </div>
    </div>
</nav>

<script>
    $("#${_id}").addClass("has-background-black has-text-white");
</script>