%{
    station = _station;
}%


<table class="readings-table collapsed" style="display: none">
    <thead>
    <tr>
        <th style="width: 24%;">Date/Time</th>
        <th style="width: 16%;">Code</th>
        <th style="width: 16%;">Temp</th>
        <th style="width: 16%;">Wind Speed</th>
        <th style="width: 16%;">Wind Direction</th>
        <th style="width: 16%;">Pressure</th>
        <th></th> <!--            will be used for submit button-->
    </tr>
    </thead>

    <tbody>
    #{list items:station.readings, as:'reading'}
    <tr>
        <td>${new java.text.SimpleDateFormat("yyyy-MM-dd HH:mm:ss").format(reading.date)}</td>
        <td>${reading.code}</td>
        <td>${String.format("%.1f", reading.temperature)}</td>
        <td>${String.format("%.1f", reading.windSpeed)}</td>
        <td>${reading.windDirection}</td>
        <td>${reading.pressure}</td>
        <td>
            <form class="delete-form" action="/dashboard/deleteReading/${station.id}/${reading.id}" method="POST">
                <div class="field">
                    <div class="control">
                        <button class="button is-link is-danger del" type="submit">Delete</button>
                    </div>
                </div>
            </form>
        </td>
    </tr>
    #{/list}
    <tr>
        <form class="input-form" action="/dashboard/${station.id}/addReading" method="POST">
            <!--            <input type="hidden" name="id" value=${station.id}>-->
            <td>
                <div class=z"field">
                    <!--                <label class="label">Code</label>-->
                    <div class="control">
                        <input class="input" name="date" placeholder="jhhhj" disabled>
                    </div>
                </div>
            </td>
            <td>
                <div class="field">
                    <!--                <label class="label">Code</label>-->
                    <div class="control select">
                        <select class="input" name="code">
                            <option value="100" selected>100</option>
                            <option value="200">200</option>
                            <option value="300">300</option>
                            <option value="400">400</option>
                            <option value="500">500</option>
                            <option value="600">600</option>
                            <option value="700">700</option>
                            <option value="800">800</option>
                        </select>
                    </div>
                </div>
            </td>
            <td>
                <div class="field">
                    <!--                <label class="label">Temperature</label>-->
                    <div class="control">
                        <input type="number" step="any" class="input" name="temperature" placeholder="00.0C" required>
                    </div>
                </div>
            </td>
            <td>
                <div class="field">
                    <!--                <label class="label">Wind Speed</label>-->
                    <div class="control">
                        <input type="number" step="any" class="input" name="windSpeed" placeholder="00.00kMh" required>
                    </div>
                </div>
            </td>
            <td>
                <div class="field">
                    <!--                <label class="label">Wind Direction</label>-->
                    <div class="control">
                        <input type="number" class="input" name="windDirection" placeholder="000deg" required>
                    </div>
                </div>
            </td>
            <td>
                <div class="field">
                    <!--                <label class="label">Pressure</label>-->
                    <div class="control">
                        <input type="number" class="input" name="pressure" placeholder="000hPa" required>
                    </div>
                </div>
            </td>
            <td>
                <div class="field">
                    <div class="control">
                        <button class="button is-link is-success" type="submit">Submit</button>
                    </div>
                </div>
            </td>
        </form>
    </tr>
    </tbody>
</table>