#{extends "main.html" /}
#{set title:"Dashboard" /}

#{menu id:"dashboard"/}


<!--Listing each station and their readings-->
#{list items:member.stations, as:'station'}
    #{station station:station/}
#{/list}

<!--Add station-->
<div class="content box">
    <form id="addStation" action="/dashboard/addStation" method="POST" onsubmit="return validateForm(event)">
        <div class="columns is-multiline">
            <div class="column is-one-third">
                <div class="field">
                    <label id="addStationName" class="label title" style="font-size: 1.5em;">Name</label>
                    <div class="control">
                        <input class="input is-normal" type="text" name="name" placeholder="Name">
                    </div>
                </div>
            </div>

            <div class="column is-one-third">
                <div class="field">
                    <label class="label title" style="font-size: 1.5em;">Lat</label>
                    <div class="control">
                        <input class="input is-normal" type="text" name="lat" id="latInput" placeholder="00.00">
                    </div>
                </div>
            </div>

            <div class="column is-one-third">
                <div class="field">
                    <label class="label title" style="font-size: 1.5em;">Lng</label>
                    <div class="control">
                        <input class="input is-normal" type="text" name="lng" id="lngInput" placeholder="00.00">
                    </div>
                </div>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <button class="button is-link is-info is-normal">Add Station</button>
            </div>
        </div>
    </form>
</div>

