#{extends 'main.html' /}
#{set title:'Login' /}

#{welcomeMenu id:"login" /}

<div class="columns is-centered">
    <div class="column is-5-tablet is-4-desktop is-3-widescreen">
        <form class="input-form" action="/authenticate" class="box" method="POST">
            <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left">
                    <input type="email" name="email" placeholder="e.g. bobsmith@gmail.com" class="input email" required>
                    <span class="icon is-small is-left">
      <i class="fa fa-envelope"></i>
    </span>
                </div>
            </div>
            <div class="field">
                <label class="label">Password</label>
                <div class="control has-icons-left">
                    <input type="password" name="password" placeholder="*******" class="input" required>
                    <span class="icon is-small is-left">
      <i class="fa fa-lock"></i>
    </span>
                    %{ if (!firstAttempt) { }%
                        <div class="content has-text">
                            <h2 style="color:red; font-size: 0.6rem; margin-top:0.75em;"><b>The username/password you entered is incorrect!</b></h2>
                        </div>
                    %{ } }%

                </div>

            </div>
            <div class="field">
                <button class="button is-success">
                    Login
                </button>
            </div>
        </form>
    </div>
</div>
</div>
