#{extends 'main.html' /}
#{set title:'Login' /}
#{welcomeMenu id:"login" /}

<div class="columns is-centered">
    <div class="column is-5-tablet is-4-desktop is-3-widescreen">
        <form action="/authenticate" class="box input-form" method="POST">
            <!--            Email field-->
            <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left">
                    <input class="input email" name="email" placeholder="e.g. bobsmith@gmail.com" required type="email">
                    <span class="icon is-small is-left">
               <i class="fa fa-envelope"></i>
               </span>
                </div>
            </div>
            <!--            Password field-->
            <div class="field">
                <label class="label">Password</label>
                <div class="control has-icons-left">
                    <input class="input" name="password" placeholder="*******" required type="password">
                    <span class="icon is-small is-left">
               <i class="fa fa-lock"></i>
               </span>
                    %{ if (!firstAttempt) { }%
                    <div class="content has-text">
                        <h2 style="color:red; font-size: 0.6rem; margin-top:0.75em;"><b>The username/password you
                            entered is incorrect!</b></h2>
                    </div>
                    %{ } }%
                </div>
            </div>
            <!--            Submit button-->
            <div class="fields columns is-centered pt-50" style="padding-top: 1em;">
                <button class="button is-success" type="submit">
                    Login
                </button>
            </div>
        </form>
    </div>
</div>