#{extends "main.html" /}
#{set title:"Member" /}
#{menu id:"member"/}

<div class="content box">
    <form id="edit-member-details" action="/member" class="box" method="POST">
        <!--        Change First name-->
        <div class="columns is-centered">
            <div class="column is-two-thirds">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">First Name</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="text" name="firstname" placeholder=${member.firstName}
                                       value=${member.firstName} class="input" disabled required>
                            </div>
                        </div>
                    </div>
                    <div class="is-centered" style="margin-left: 20px;">
                        <button type="button" class="button is-dark unedited">
                            Edit
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--        Change last name-->
        <div class="columns is-centered">
            <div class="column is-two-thirds">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Last Name</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="text" name="lastname" placeholder="${member.lastName}"
                                       value="${member.lastName}" class="input" disabled required>
                            </div>
                        </div>
                    </div>
                    <div class="is-centered" style="margin-left: 20px;">
                        <button type="button" class="button is-dark unedited">
                            Edit
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--        Change password-->
        <div class="columns is-centered">
            <div class="column is-two-thirds">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Password</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="password" name="password" placeholder="*******" class="input" disabled
                                       required>
                            </div>
                        </div>
                    </div>
                    <div class="is-centered" style="margin-left: 20px;">
                        <button type="button" class="button is-dark unedited">
                            Edit
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--        Save changes button-->
        <div class="columns is-centered pt-50">
            <button type="submit" class="button is-success unedited" disabled>
                Save Changes
            </button>
        </div>
    </form>
</div>