#{extends 'main.html' /}
#{set title:'Login' /}

#{welcomeMenu id:"signup" /}

<div class="columns is-centered">
    <div class="column is-5-tablet is-4-desktop is-3-widescreen">
        <form action="/register" class="box" id="signup-form" method="POST">
            <div class="field">
                <label class="label">First Name</label>
                <div class="control has-icons-left">
                    <input type="firstname" name="firstname" placeholder="Bob" class="input string" required>
                    <span class="icon is-small is-left">
                        <i class="fa fa-signature"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <label class="label">Last Name</label>
                <div class="control has-icons-left">
                    <input type="lastname" name="lastname" placeholder="Smith" class="input string" required>
                    <span class="icon is-small is-left">
                        <i class="fa fa-signature"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left">
                    <input type="email" name="email" placeholder="e.g. bobsmith@gmail.com" class="input email" required>
                    <span class="icon is-small is-left">
                        <i class="fa fa-envelope"></i>
                    </span>
                    %{ if (!firstAttempt) { }%
                        <div id="email-exists" class="content has-text">
                            <h2 style="color:red; font-size: 0.6rem; margin-top:0.75em"><b>The email entered already exists. Please use a different email!</b></h2>
                        </div>
                    %{ } }%
                </div>
            </div>
            <div class="field">
                <label class="label">Password</label>
                <div class="control has-icons-left">
                    <input type="password" name="password" placeholder="*******" class="input password" required>
                    <span class="icon is-small is-left">
                      <i class="fa fa-lock"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <button class="button is-success">
                    Register
                </button>
            </div>
        </form>
    </div>
</div>
</div>


